Bonjour Mr/Mme {{ user.nom }} {{ user.prenom }}, <br><br>
Le Trajet du {{ trajet.date|date('d - F - Y') }} de {{ trajet.depart }} allons à {{ trajet.arrive }} a malheuresement était supprimer. <br>
Pour plus d'information visitez <a href="http://localhost{{ path('TrajetsPartant') }}">ce lien</a>. <br> <br>
Bonne Journée/Soirée.